<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="menu-header">
          <h1 class="menu-title">Tanya AI</h1>
          <p class="menu-subtitle">Belajar HTTP Client & Observable</p>
        </div>
        
        <ion-list id="menu-list">
          <ion-list-header>Menu Aplikasi</ion-list-header>
          
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                aria-hidden="true"
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-outline'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        
        <ion-note style="padding: 16px; display: block; text-align: center; color: #666;">
          Pemrograman Bergerak<br>
          HTTP Client & Gemini AI
        </ion-note>
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
